<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.id %></td>
    <td><%= number_to_currency loan.amount %></td>
    <td><%= number_to_currency loan.downpayment %></td>
    <td><%= loan.interest_rate %></td>
    <td><%= link_to "View", loan_path(loan, format: "pdf"), class: "btn btn-danger" %></td>
  </tr>
<% end %>
